
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Enviar" class="btn btn-outline-success" />
        <a href="@Url.Action("Index","Home")" class="btn btn-danger">Voltar</a>
    </div>
</div>